<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Estudiantes</title>
</head>
<body>
    <h1>Gestionar Estudiantes</h1>

    <!-- Formulario de búsqueda -->
    <form method="GET">
        <input type="text" name="search" placeholder="Buscar estudiante por nombre">
        <button type="submit">Buscar</button>
    </form>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Número de Estudiante</th>
            <th>Asignar Psicólogo</th>
            <th>Ver Perfil</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.student_number }}</td>
            <td>
                {% if student.psychologist %}
                    Asignado a {{ student.psychologist.username }}
                {% else %}
                    <a href="{% url 'assign_psychologist' student.id %}">Asignar como Psicólogo</a>
                {% endif %}
            </td>
            <td><a href="{% url 'view_student_profile' student.id %}">Ver Perfil</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'psychologist_home' %}">Volver al perfil</a>
</body>
</html>