{% extends 'base.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<section id="main" class="container">
    <div id="login-form">
        <h2>Restablecer contraseña</h2>
        <p>Introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.email.label_tag }} 
            <input type="email" name="email" required placeholder="Correo electrónico">
            <button type="submit">Enviar enlace de restablecimiento</button>
        </form>
    </div>
</section>
{% endblock %}