{% extends 'base.html' %}

{% block title %}Nueva contraseña{% endblock %}

{% block content %}
<section id="main" class="container">
    <div id="login-form">
        <h2>Ingresa tu nueva contraseña</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}
            <input type="password" name="new_password1" required placeholder="Nueva contraseña">
            {{ form.new_password2.label_tag }}
            <input type="password" name="new_password2" required placeholder="Confirmar nueva contraseña">
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</section>
{% endblock %}